h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
  color: #000;
  margin-bottom: 1.125rem;
}
h2:before {
  content: "⁚";
}
h3:before {
  content: "⁖";
}
h4:before {
  content: "⁘";
}
h5:before {
  content: "⁙";
}
h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.7rem;
  margin-top: 4.5rem;
}
h2 {
  font-size: 1.575rem;
  font-weight: 400;
  line-height: 2.1375rem;
  margin-top: 3.375rem;
}
h3 {
  font-size: 1.35rem;
  line-height: 1.6875rem;
  margin-top: 2.25rem;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.4625rem;
  margin-top: 1.125rem;
}
h5 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.35rem;
  text-transform: uppercase;
}
h6 {
  color: #595959;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
}

h1 {
  border-bottom: 1px solid #ccc;
}

header > h1 {
  margin-bottom: 0;
}

header > p.date {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9em;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

pre {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-left: 5px solid #468847;
}

nav ul {
  margin-bottom: 0;
}

table.datatable-table > thead > tr > th:first-child {
  min-width: 10% !important;
}

pre {
  line-height: 1.575rem;
  overflow: auto;
  padding-left: 18px;
}

pre code {
  background: none;
  border: 0;
  line-height: 1.1rem;
  padding: 0;
}

code,
kbd {
  background: #daf1e0;
  border-radius: 3.6px;
  color: #737373;
  border: 1px solid #59c072;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.1rem;
}

kbd {
  background: #2a6f3b;
  color: #fff;
}

mark {
  background: #ffc;
  padding: 0 0.225rem;
}

hr {
  border-bottom: 1px solid #595959;
}

blockquote {
  border-left: 0 solid #595959;
  padding: 0.28125rem 1.125rem 0.28125rem 0.99rem;
}

html,
body {
  width: 100%;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: #1a1919;
  padding: 36px;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

aside {
  float: right;
  width: 285px;
}

article,
header,
footer {
  margin: 1rem auto;
  padding: 1rem;
}

article {
  background: #fff;
  border: 1px solid #d9d9d9;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  margin-left: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-left: 9px;
  margin-right: 9px;
  vertical-align: middle;
}

blockquote p {
  margin-bottom: 0;
}

img {
  height: auto;
  margin: 0 auto;
}

figure img {
  display: block;
}

tr.header > th {
  border-bottom: 1px solid #808080;
}

tr.odd {
  background-color: #f0f0f0;
}

pre,
code {
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
}

a,
a:visited,
a:active {
  color: #006633;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #595959;
}

.tag {
  font-size: 0.8em;
  font-style: italic;
  color: #3f3f3f;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.1rem;
}

.tag > img {
  height: 1em;
  vertical-align: middle;
}

dt {
  font-style: italic;
  text-decoration: underline;
}

dt:before {
  content: "⇝";
}

@media (max-width: 767px) {
  body {
    padding: 18px 0;
  }
  article {
    border: 0;
    padding: 18px;
  }
  header,
  footer {
    padding: 18px;
  }
  textarea,
  input,
  select {
    min-width: 0;
  }
  fieldset {
    min-width: 0;
  }
  fieldset * {
    flex-grow: 1;
    page-break-before: auto;
  }
  section {
    width: auto;
  }
  x:-moz-any-link {
    display: table-cell;
  }
}
